
.TopSpace {
    height: 10px;
    width: 1440px;
    background-color: #7BAFD4;
}

.TerminalView {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 1440px;
    background-color: white;
}

.ImageSide {
    object-fit: cover;
    background-color: rgba(36, 42, 55, 255);
    width: 705px;
    height: inherit;
}

.Middle {
    width: 10px;
    height: inherit;
    background-color: #7BAFD4;
}

.TextSide {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(36, 42, 55, 255);
    width: 705px;
    height: inherit;
}

.MoreSpace {
    height: 10px;
}