
.TopSpace {
    height: 10px;
    width: 1440px;
    background-color: #7BAFD4;
}

.TerminalView {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 1440px;
    background-color: white;
}

.ImageSide {
    background-color: rgb(17 24 39);
    width: 705px;
    height: inherit;
}

.Middle {
    width: 10px;
    height: inherit;
    background-color: #7BAFD4;
}

.TextSide {
    background-color: rgb(17 24 39);
    width: 705px;
    height: inherit;
}