.Bar {
    height: 10px;
    width: 1440px;
    background-color: #7BAFD4;
}

.WideView{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 1440px;
    background-color: rgba(36, 42, 55, 255);
}    

.Image {
    border:none;
    width: 50%;
    height: inherit;
}

.Text {
    border:none;
    width: 715px;
    height: inherit;
}